Repository plantonhq/mcp-server-planton: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks for Go projects
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$
        pass_filenames: true

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go
        args: [vet, ./...]
        language: system
        files: \.go$
        pass_filenames: false

  # Go tests
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: go
        args: [test, -v, ./...]
        language: system
        files: \.go$
        pass_filenames: false
        stages: [commit]

  # golangci-lint (optional - requires golangci-lint installed)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if command -v golangci-lint &> /dev/null; then golangci-lint run --fix; else echo "golangci-lint not installed, skipping..."; fi'
        language: system
        files: \.go$
        pass_filenames: false

  # Conventional commits check
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--force-scope]

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        args: [mod, tidy]
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3

# Install pre-commit hooks:
# 1. Install pre-commit: pip install pre-commit
# 2. Install hooks: pre-commit install
# 3. Install commit-msg hook: pre-commit install --hook-type commit-msg
# 4. (Optional) Run on all files: pre-commit run --all-files

chore: simplify GitHub workflows and remove excessive automation (#19)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/stale.yml
  _changelog/2025-11/2025-11-25-133634-simplify-github-workflows.md
Due: none

feat: add GoFormat commands and release workflow to Makefile (#21)
  Makefile
  _changelog/2025-11/2025-11-25-140707-add-goformat-makefile-commands.md
Due: none

fix gofmt issue
  internal/common/errors/errors.go
  internal/domains/infrahub/clients/cloudresource_client.go
  internal/domains/infrahub/cloudresource/get.go
  internal/domains/infrahub/cloudresource/lookup.go
  internal/domains/infrahub/cloudresource/register.go
  internal/domains/infrahub/cloudresource/search.go
  internal/domains/infrahub/register.go
  internal/domains/resourcemanager/clients/environment_client.go
  internal/domains/resourcemanager/environment/list.go
  internal/domains/resourcemanager/environment/register.go
  internal/domains/resourcemanager/register.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix: install syft for GoReleaser SBOM generation (#24)
  .github/workflows/release.yml
  _changelog/2025-11/2025-11-25-143513-fix-goreleaser-sbom-generation.md
Due: none

refactor(cloudresource): extract specific resource from CloudResource wrapper
  .cursor/plans/add-http-transport-support-5885061f.plan.md
  .cursor/plans/fix-protobuf-conflict-b6edc09d.plan.md
  _changelog/2025-11/2025-11-25-155300-extract-cloud-object-from-wrapper.md
  internal/domains/infrahub/cloudresource/get.go
  internal/domains/infrahub/cloudresource/unwrap.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix: resolve protobuf namespace conflict causing server crash
  _changelog/2025-11/2025-11-25-155500-fix-protobuf-namespace-conflict.md
  go.mod
  go.sum
  internal/domains/infrahub/cloudresource/get.go
  internal/domains/infrahub/cloudresource/kinds.go
  internal/domains/infrahub/cloudresource/unwrap.go
Due: go-fmt, go-vet, go-test, golangci-lint, go-mod-tidy

fix gofmt issue
  internal/domains/infrahub/cloudresource/unwrap.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat: add install-local Makefile target for system-wide installation
  Makefile
Due: none

fix(grpc): use TLS for port 443 connections to production endpoints
  .cursor/plans/add-local-install-9683812a.plan.md
  _changelog/2025-11/2025-11-25-162019-fix-grpc-tls-connection.md
  internal/domains/infrahub/clients/cloudresource_client.go
  internal/domains/resourcemanager/clients/environment_client.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(grpc): use TLS for port 443 connections to production endpoints (#30)
  .cursor/plans/add-local-install-9683812a.plan.md
  _changelog/2025-11/2025-11-25-162019-fix-grpc-tls-connection.md
  internal/domains/infrahub/clients/cloudresource_client.go
  internal/domains/resourcemanager/clients/environment_client.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(auth): use per-RPC credentials for gRPC authentication
  _changelog/2025-11/2025-11-25-171148-fix-grpc-authentication-per-rpc-credentials.md
  internal/common/auth/credentials.go
  internal/common/auth/interceptor.go
  internal/domains/infrahub/clients/cloudresource_client.go
  internal/domains/resourcemanager/clients/environment_client.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat(server): add HTTP transport support with SSE (#35)
  .cursor/workspace/pr-description-1764006382.md
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile
  LICENSE
  _changelog/2025-11/2025-11-25-105306-python-to-go-migration.md
  _changelog/2025-11/2025-11-25-110815-documentation-cleanup-python-to-go.md
  _changelog/2025-11/2025-11-25-112734-rename-env-var-to-planton-api-key.md
  _changelog/2025-11/2025-11-25-130536-migrate-to-buf-published-modules.md
  _changelog/2025-11/2025-11-25-132221-reorganize-package-structure.md
  _changelog/2025-11/2025-11-25-141617-domain-first-architecture-reorganization.md
  _changelog/2025-11/2025-11-25-151731-align-go-version-with-dependencies.md
  _changelog/2025-11/2025-11-25-155300-extract-cloud-object-from-wrapper.md
  _changelog/2025-11/2025-11-25-162019-fix-grpc-tls-connection.md
  _changelog/2025-11/2025-11-25-165245-environment-based-endpoint-selection.md
  _changelog/2025-11/2025-11-25-171148-fix-grpc-authentication-per-rpc-credentials.md
  _changelog/2025-11/2025-11-25-172611-fix-live-endpoint-domain.md
  _changelog/2025-11/2025-11-26-135959-http-transport-support.md
  cmd/mcp-server-planton/main.go
  docs/http-transport.md
  internal/common/auth/credentials.go
  internal/common/errors/errors.go
  internal/config/config.go
  internal/domains/infrahub/cloudresource/kinds.go
  internal/domains/infrahub/cloudresource/lookup.go
  internal/domains/infrahub/cloudresource/register.go
  internal/domains/infrahub/cloudresource/search.go
  internal/domains/infrahub/register.go
  internal/domains/resourcemanager/environment/list.go
  internal/domains/resourcemanager/environment/register.go
  internal/domains/resourcemanager/register.go
  internal/mcp/http_server.go
  internal/mcp/server.go
  test_header_case.go
  test_iam_vs_search.go
  test_jwt_token.go
  test_token.go
  test_token_debug.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat(cloudresource): add CRUD operations with dynamic schema discovery (#36)
  .cursor/plans/complete-http-transport-implementation-b34088f1.plan.md
  _changelog/2025-11/2025-11-26-152332-cloud-resource-creation-support.md
  internal/domains/infrahub/clients/cloudresource_command_client.go
  internal/domains/infrahub/cloudresource/create.go
  internal/domains/infrahub/cloudresource/delete.go
  internal/domains/infrahub/cloudresource/get.go
  internal/domains/infrahub/cloudresource/internal/kind.go
  internal/domains/infrahub/cloudresource/internal/schema.go
  internal/domains/infrahub/cloudresource/internal/unwrap.go
  internal/domains/infrahub/cloudresource/internal/wrap.go
  internal/domains/infrahub/cloudresource/register.go
  internal/domains/infrahub/cloudresource/schema_tool.go
  internal/domains/infrahub/cloudresource/update.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat: complete HTTP transport with authentication and health checks (#37)
  README.md
  _changelog/2025-11/2025-11-26-153720-complete-http-transport-implementation.md
  docs/configuration.md
  docs/http-transport.md
  internal/common/auth/credentials.go
  internal/common/errors/errors.go
  internal/domains/infrahub/cloudresource/kind_normalization.go
  internal/domains/infrahub/cloudresource/kinds.go
  internal/domains/infrahub/cloudresource/lookup.go
  internal/domains/infrahub/cloudresource/schema_extraction.go
  internal/domains/infrahub/cloudresource/search.go
  internal/domains/infrahub/cloudresource/wrap.go
  internal/domains/infrahub/register.go
  internal/domains/resourcemanager/environment/list.go
  internal/domains/resourcemanager/environment/register.go
  internal/domains/resourcemanager/register.go
  internal/mcp/http_server.go
  test_header_case.go
  test_iam_vs_search.go
  test_jwt_token.go
  test_token.go
  test_token_debug.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix fmt issues
  internal/domains/infrahub/clients/cloudresource_command_client.go
  internal/domains/infrahub/cloudresource/delete.go
  internal/domains/infrahub/cloudresource/internal/wrap.go
  internal/domains/infrahub/cloudresource/register.go
  internal/domains/infrahub/cloudresource/schema_tool.go
  internal/domains/infrahub/cloudresource/update.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(cloudresource): return snake_case enum format from list_cloud_resource_kinds for agent compatibility (#39)
  .cursor/plans/reorganize-mcp-documentation-8a211760.plan.md
  _changelog/2025-11/2025-11-26-161908-fix-cloud-resource-kind-enum-format.md
  internal/domains/infrahub/cloudresource/internal/kind.go
  internal/domains/infrahub/cloudresource/internal/schema.go
  internal/domains/infrahub/cloudresource/kinds.go
  internal/domains/infrahub/cloudresource/schema_extraction.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(http-transport): enable Cursor IDE integration with port rewriting and path mapping
  .cursor/workspace/pr-description-1764006382.md
  .github/workflows/release.yml
  .goreleaser.yaml
  LICENSE
  _changelog/2025-11/2025-11-25-105306-python-to-go-migration.md
  _changelog/2025-11/2025-11-25-110815-documentation-cleanup-python-to-go.md
  _changelog/2025-11/2025-11-25-112734-rename-env-var-to-planton-api-key.md
  _changelog/2025-11/2025-11-25-130536-migrate-to-buf-published-modules.md
  _changelog/2025-11/2025-11-25-132221-reorganize-package-structure.md
  _changelog/2025-11/2025-11-25-141617-domain-first-architecture-reorganization.md
  _changelog/2025-11/2025-11-25-151731-align-go-version-with-dependencies.md
  _changelog/2025-11/2025-11-25-155300-extract-cloud-object-from-wrapper.md
  _changelog/2025-11/2025-11-25-162019-fix-grpc-tls-connection.md
  _changelog/2025-11/2025-11-25-165245-environment-based-endpoint-selection.md
  _changelog/2025-11/2025-11-25-171148-fix-grpc-authentication-per-rpc-credentials.md
  _changelog/2025-11/2025-11-25-172611-fix-live-endpoint-domain.md
  _changelog/2025-11/2025-11-26-135959-http-transport-support.md
  _changelog/2025-11/2025-11-26-152332-cloud-resource-creation-support.md
  _changelog/2025-11/2025-11-26-161908-fix-cloud-resource-kind-enum-format.md
  _changelog/2025-11/2025-11-26-171710-fix-http-transport-cursor-integration.md
  docs/http-transport.md
  internal/common/auth/credentials.go
  internal/common/errors/errors.go
  internal/domains/infrahub/cloudresource/kind_normalization.go
  internal/domains/infrahub/cloudresource/lookup.go
  internal/domains/infrahub/cloudresource/search.go
  internal/domains/infrahub/register.go
  internal/domains/resourcemanager/environment/list.go
  internal/domains/resourcemanager/environment/register.go
  internal/domains/resourcemanager/register.go
  internal/mcp/http_server.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat(release): add build validation and tag conflict handling to release process
  Makefile
  _changelog/2025-11/2025-11-26-174813-enhanced-release-process-validation.md
Due: none

feat: add Kubernetes deployment manifests for mcp.planton.ai
  .cursor/plans/fix-release-process-65a46357.plan.md
  _kustomize/base/kustomization.yaml
  _kustomize/base/service.yaml
  _kustomize/overlays/prod/kustomization.yaml
  _kustomize/overlays/prod/service.yaml
Due: none

feat: add Kubernetes deployment manifests for mcp.planton.ai (#42)
  .cursor/plans/fix-release-process-65a46357.plan.md
  _kustomize/base/kustomization.yaml
  _kustomize/base/service.yaml
  _kustomize/overlays/prod/kustomization.yaml
  _kustomize/overlays/prod/service.yaml
Due: none

feat(release): add build validation and tag conflict handling to release process (#41)
  Makefile
  _changelog/2025-11/2025-11-26-174813-enhanced-release-process-validation.md
Due: none

feat: implement per-user API key authentication for multi-tenant HTTP security
  README.md
  _changelog/2025-11/2025-11-26-180604-per-user-api-key-authentication.md
  docs/configuration.md
  docs/http-transport.md
  internal/common/auth/credentials.go
  internal/config/config.go
  internal/domains/infrahub/clients/cloudresource_client.go
  internal/domains/infrahub/clients/cloudresource_command_client.go
  internal/domains/infrahub/cloudresource/create.go
  internal/domains/infrahub/cloudresource/delete.go
  internal/domains/infrahub/cloudresource/get.go
  internal/domains/infrahub/cloudresource/lookup.go
  internal/domains/infrahub/cloudresource/search.go
  internal/domains/infrahub/cloudresource/update.go
  internal/domains/resourcemanager/clients/environment_client.go
  internal/domains/resourcemanager/environment/list.go
  internal/mcp/http_server.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(config): remove invalid HPA fields from Kubernetes deployment (#44)
  _kustomize/base/service.yaml
Due: none

fix(config): correct HTTPGetAction probe port field name
  _kustomize/base/service.yaml
Due: none

fix: rewrite both scheme and hostname in SSE responses for HTTPS proxies
  internal/mcp/http_server.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix: handle GET and POST to / differently for SSE and streamableHttp transports
  internal/mcp/http_server.go
Due: go-fmt, go-vet, go-test, golangci-lint

Fix cloud resource kind normalization for agent compatibility (#46)
  _changelog/2025-11/2025-11-26-152332-cloud-resource-creation-support.md
  internal/domains/infrahub/cloudresource/create.go
  internal/domains/infrahub/cloudresource/internal/kind.go
  internal/domains/infrahub/cloudresource/kind_normalization.go
  internal/domains/infrahub/cloudresource/schema_tool.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix: HTTP authentication context flow for tool handlers (#47)
  _changelog/2025-11/2025-11-27-011424-fix-http-authentication-context-flow.md
  internal/common/auth/credentials.go
  internal/domains/infrahub/cloudresource/register.go
  internal/domains/resourcemanager/environment/register.go
  internal/mcp/http_server.go
Due: go-fmt, go-vet, go-test, golangci-lint

fix(ci): resolve GitHub Actions release and Docker build failures
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile
  go.mod
Due: go-mod-tidy

fix(ci): resolve GitHub Actions release and Docker build failures (#59)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile
  go.mod
Due: go-mod-tidy

feat: add cloud-resource-kinds://catalog static MCP resource
  .cursor/plans/cloud_resource_kinds_catalog_d7b4d0a2.plan.md
  _changelog/2026-02/2026-02-26-233158-cloud-resource-kinds-catalog-resource.md
  _projects/2026-02/20260226.01.refactor-mcp-server-stigmer-patterns/next-task.md
  _projects/2026-02/20260226.01.refactor-mcp-server-stigmer-patterns/plans/README.md
  _projects/2026-02/20260226.01.refactor-mcp-server-stigmer-patterns/plans/cloud-resource-kinds-catalog.plan.md
  internal/domains/cloudresource/kind.go
  internal/domains/cloudresource/resources.go
  internal/domains/cloudresource/schema.go
  internal/domains/cloudresource/tools.go
  internal/server/server.go
Due: go-fmt, go-vet, go-test, golangci-lint

feat(cloudresource): implement get and delete cloud resource tools
  internal/domains/cloudresource/delete.go
  internal/domains/cloudresource/get.go
  internal/domains/cloudresource/identifier.go
  internal/domains/cloudresource/tools.go
  internal/server/server.go
Due: go-fmt, go-vet, go-test, golangci-lint
